/* Mise en page gloable de la page */

body {
	background-image: url("../img/bois.jpg");
	background-attachment: fixed;
  background-size: cover;
}

#middle_area{
  width: 100%;
  top: 10%;
}

.container{
  width: 98vw;
  height: 100vh;
}

/* Header */

/* CSS de spécificité sur zone globale */

header{
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../img/header.jpg);
  background-repeat: repeat-x;
  background-size: 10vw 10vh;
}

header img{
  height: 100%;
  margin-left: 10%;
}

nav{
  padding: 6% 0;
  background-image: url(../img/bois.jpg);
  border-style: outset;
  border-width: 1px;
  border-color: grey;
  border-radius: 20%/80%;
  box-shadow: 17px 12px 25px -10px;
  cursor: pointer;
}

#openedmenu li{
  background-image: url(../img/feuille.jpg);
  border-style: outset;
  border-width: 1px;
  border-color: grey;
  padding: 4%;
}

/* CSS de spécificité sur zone identifié */

#pagetitle{
  flex: 3;
}

#menusource{
  width: 70%;
  z-index: 7;
  margin: 0 auto;
  padding: 0 17%;
}

#openedmenu{
  width: 80%;
  left: 10.5%;
  top: 101%;
}

#lastlielem{
  border-radius: 20%/80%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Animation d'apparition du menu sur un hover du nav */

nav:hover #openedmenu{
  display: block;
}

nav:hover{
  transform: scale(0.95);
  background-image: url(../img/boisobscur.jpg);
  background-repeat: round;
  background-size: 100% 100%;
  border-style: inset;
  border-width: 1px;
  border-color: grey;
  border-radius: 20%/80%;
  box-shadow: -9px -9px 30px -4px;
}

#openedmenu li:hover{
  font-size: 1.1em;
  opacity: 0.95;
}

#openedmenu li:hover a{
  text-shadow: 1px 1px;
}

/* Section contenant l'intrigue */

#section_container {
  min-height: 620px; 
	box-sizing: border-box; /* pour fixer le problème des margins et paddings */
  margin-top: 10px;
}

.couvert {
  justify-content: space-around;
  min-height: 620px;
  width: 460px; /* en dure pour garder la même taille de l'image du fond pour qu'elle soit pas déformer */
  margin: auto;/* en dur pour ne pas changer la margin quelques soit le device */
  padding: 32px;
  background-image: url("../img/couv_deb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 25px 10px 7px black;
  box-sizing: border-box;
  border: 3px outset rgba(99,73,39,0.4);
}
.nous {
  margin-left: 50px;
  margin-top: 10px;
}
.nous li{
  list-style-type: upper-roman;
  font-family: Kristen ITC;
  color: rgb(195,195,195);
  text-shadow: 4px 4px 5px black;
}
i {
  color: rgba(195,195,195,0.5);
}
#list_reali {
  float: left;
  width: 70%;
}

#page_left {
	box-shadow: -10px -10px 15px;
}

#page_right {
	box-shadow: 10px -10px 15px;
}

.page {
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}
#list_reali span {
  font-size: 16px;
  text-decoration: underline;
}
.font1{
  color: rgba(195,195,195,1);
  font-size: 20px;
  text-shadow: 10px 4px 1px black;
  font-family: Kristen ITC;
}
.font2 {
  font-size: 12px;
}
#title_couv {
  color: rgba(195,195,195,1);
  font-size: 25px;
  font-weight: bolder;
  border:4px inset rgb(195,195,195); 
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px 4px black;
  text-shadow: 10px 4px 1px black;
}
#info {
  position: absolute;
  margin-left:-250px;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid black;
  height: auto;
  width: auto;
  transition: margin-left 2s;
}
.couvert:hover + #info{
  margin-left:0;
}
/* Footer */

footer {
  height: 10%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url(../img/footer.jpg);
  background-repeat: repeat-x;
  background-size: 10vw 10vh;
}

footer p {
  bottom: 3.5%;
  left: 45%;
}

header h1, footer p {
  text-shadow: 1px 1px 15px red;
}

button a {
  color: #3f3b3b;
}

#paginations {
  width: 100%;
  margin-top: 1.5%;
  text-shadow: red;
}

#right_button, #right_arrow {
  margin-right: 3%;
}

#left_button, #left_arrow {
  margin-left: 3%;
}

#fleches {
  width: 100%;
  margin-top: 1%;
}

.pagineur{
  color: #3f3b3b ;
}

.border_shadow{
  border : 1px solid red;
  box-shadow: 2px 2px 2px red;
}

.arrow:hover {
  transform: scale(1.1);
}

/* Media querie pour téléphone */

@media (max-width: 460px) {

/* media queries header */

  #logo{
    display: none;
  }

  #pagetitle{
    flex: 1.8;
  }

/* media queries section centrale */

  .couvert {
    width: 100%;
  }

  #section_container {
    margin: auto;
    flex-direction: column;
    width: 99%;
  }

  #page_left, #page_right {
    box-shadow: none;
  }

  .page {
    margin: auto;
    width: 100%;
  }

/* media queries footer */

  footer p {
      left: 33%;
      font-size: 1.2em;
    }

  #left_button, #right_button, #left_arrow, #right_arrow {
    font-size: 1.2em;
  }

}