
#dia1_1 {
  top:15%;
  left:30%;
}
#dia1_2 {
  top: ;
  left:;
}
#dia1_3 {
  top:10% ;
  left: ;
}
#dia1_4 {
  top: 15%;
  left: 65%;
}
#dia1_5 {
  top: 3% ;
  left: 25%;
}
#dia1_6 {
  top:10%;
  left:15%;
  border:2px solid red;
}
#dia1_7 {
  top:10%;
  left:20%;
  border:2px solid red;
}
#dia1_8 {
  top:15%;
  left:20%;
  border:2px solid red;
}
#dia1_9 {
  top:5%;
  left:15%;
  border:2px solid red;
}
#dia1_10 {
  top:60%;
  left:50%;
}
#spec {
  height: 400px;
  width: 50%;
}
#diafin {
  top:20%;
  left:15%;
}
.secret {
  flex: none;
  width: 30%;
}