@-webkit-keyframes bouge_le_titre{
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(45%);
  }
  20%{
    transform: translateX(45%) rotate(90deg);
  }

  40%{
    transform: translateX(45%) rotate(90deg);
  }

  50%{
    transform: translateX(45%) translateY(3000%) rotate(90deg);
  }

  60%{
    transform: translateX(45%) translateY(3000%) rotate(90deg);
  }

  70%{
    transform: translateX(45%) translateY(0) rotate(90deg);
  }

  80%{
    transform: translateX(45%) rotate(0);
  }

  90%{
    transform: translateX(0);
  }
}

@keyframes bouge_le_titre{
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(45%);
  }
  20%{
    transform: translateX(45%) rotate(90deg);
  }

  40%{
    transform: translateX(45%) rotate(90deg);
  }

  50%{
    transform: translateX(45%) translateY(3000%) rotate(90deg);
  }

  60%{
    transform: translateX(45%) translateY(3000%) rotate(90deg);
  }

  70%{
    transform: translateX(45%) translateY(0) rotate(90deg);
  }

  80%{
    transform: translateX(45%) rotate(0);
  }

  90%{
    transform: translateX(0);
  }
}

#summary_container{
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

h2{
  margin-top: 5%;
}

.part{
  height: 20%;
  margin: 1% 0;
}

h3{
  margin-left: 3%;
  text-decoration: underline;
}

.part p{
  width: 90%;
  margin: 2% auto;
}

.jonathan_section:hover h3{
  -webkit-keyframes: bouge_le_titre 24s;
  animation: bouge_le_titre 24s;
}
