/* Ceci représente une ébauche du fichier final de normalisation des classes */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.posfix{
  position: fixed;
}

.posabs{
  position: absolute;
}

.posrel{
  position: relative;
}

.no_display{
  display: none;
}

.flexybox{
  display: flex;
}

.flexbase{
  flex: 1;
}

.flexywrap {
	flex-wrap: wrap;
}

.columndir{
  flex-direction: column;
}

.justicenter{
  justify-content: center;
}

.justibetween{
  justify-content: space-between;
}

.aligncenter{
  align-items: center;
}

.centertext{
  text-align: center;
}

.blackswordfont{
  font-family: blacksword;
}

.boldfont{
  font-weight: bold;
}

.whitefont{
  color: white;
}

.case_margin{
  margin: 5px;
}

.white_area{
  background-color: white;
}

.bulle { /* ATTENTION!!! --- Ajouter les classes .posabs et .centertext pour rendre le tout totalement compatible */
	background-color: rgba(255,255,255,1);
	color: black;
	padding: 5px;
	z-index: 6; /* permet de mettre les bulles au dessus des photos */
	font-size: 12px; /* trouver une taille en em; plz! */
	width: auto;
}

/* Conventionné par Mohamed: les cases se créeront avec
   les classes .case_margin et .posrel obligatoirement
   ajouté l'une à l'autre pour une mise en page
   optimale */
