/* Media querie pour téléphone */

@media (max-width: 640px) {

/* media queries section centrale */

  .section_container {
		background-image: url("../images/papier_fond.jpg");
		margin: auto;
		display: flex;
		flex-direction: column;
		width: 99%;
	}
	.page {
		margin: auto;
		width: 100%;
	}
	.page_left, .page_right {
		box-shadow:none;
	}
	.page_left { /* pour séparer les 2 pages dans le responsive ... à supprimer quand on aura le footer, il le remplace */
		border-bottom: 10px ridge #763d3d;
		box-shadow: 5px 5px 15px black;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
	}

/* media queries footer */

  footer p {
      width: auto;
      position: absolute;
      bottom: 5px;
      left: 115px;
      font-size: 10px;
    }

  .pagination_droite, .pagination_gauche {
    font-size: 0.7em;
  }

  .fleche_droite, .fleche_gauche {
    font-size: 0.7em;
  }

}

/* Mise en page gloable de la page */

body {
	background-image: url("../images/planche.jpg");
	background-attachment: fixed;
}

#middle_area{
  min-height: 1000px;
  width: 100%;
  top: 13%;
}

.container{
  width: 98vw;
  height: 100vh;
}

/* Header */

/* CSS de spécificité sur zone globale */

header{
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

nav{
  padding: 6% 0;
  border-style: outset;
  border-width: 1px;
  border-color: grey;
  border-radius: 20%/80%;
  box-shadow: 17px 12px 25px -10px;
  cursor: pointer;
}

li{
  border-style: outset;
  border-width: 1px;
  border-color: grey;
  padding: 4%;
}

li a{
  color: black;
}

/* CSS de spécificité sur zone identifié */

#pagetitle{
  flex: 3;
}

#menusource{
  width: 70%;
  z-index: 7;
  margin: 0 auto;
  padding: 0 17%;
}

#openedmenu{
  width: 80%;
  left: 10.5%;
  top: 101%;
}

#lastlielem{
  border-radius: 20%/80%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Animation d'apparition du menu sur un hover du nav */

nav:hover #openedmenu{
  display: block;
}

nav:hover{
  width: 98%;
  border-style: inset;
  border-width: 1px;
  border-color: grey;
  border-radius: 20%/80%;
  box-shadow: -9px -9px 30px -4px;
}

/* Section contenant l'intrigue */

#section_container {
	margin: 20px; /* en dur pour ne pas changer la margin quelques soit le device */
	box-sizing: border-box; /* pour fixer le problème des margins et paddings */
	background-image: url("../images/fond_double.jpg");
	background-repeat: round; /* permet de garder la même images de tel sorte quelle soit genre un élastique ... */
}

#page_left {
	box-shadow: -10px -10px 15px black;

}

#page_right {
	box-shadow: 10px -10px 15px black;
}

.page {
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

/* Footer */

footer {
  height: 10%;
  width: 95%;
  background-image: url("interieur2.jpg");
  bottom: 0%;
  left: 2%;
}

footer p {
  text-shadow: 1px 1px 15px red;
  margin-top: 0;
}

button a {
  color: #3f3b3b;
}

#paginations {
  width: 100%;
  margin-top: 0.5%;
  text-shadow: red;
}

#right_button, #right_arrow {
  margin-right: 1%;
}

#leftbutton, #left_arrow {
  margin-left: 1%;
}

#fleches {
  width: 100%;
  padding-top: 0.5%;
}

.pagineur{
  border-radius: 50%;
  border : 1px solid red;
  box-shadow: 2px 2px 2px red;
  color: #3f3b3b ;
}

.arrow {
  border-radius: 100%;
  border : 1px solid red;
  box-shadow: 2px 2px 2px red;
}

.arrow:hover {
  transform: scale(1.1);
}
