header {

	width: 100%;
	height: 97px;
	border: 2px solid black;
	display: block;
	position: relative;
	font-family: "Blacksword" ;
	background-image: url(image/interieur.jpg);
	background-size: 7em;

}
span {
	margin-top: 2%;
	margin-left: 34%;
	position: absolute;
	font-size: 3em;
	text-shadow: 1px 1px 15px red;
	color: white;
	top:0;
	text-align: center;
	display: inline;
}

.logo {

	position: absolute;
	top: 0;
	left: 0;
	height: 97px;

}

}

header .titre {
	margin-left: 32vw;
	height: 16vw;
}

body {
	background-image:url(image/papier1.jpg);
	background-size: 100vw;
	background-repeat: no-repeat;
	margin:O;

}

@font-face {
  font-family: "Blacksword";
  src: url("font/Blacksword.otf");
}

@font-face {
	font-family: "mangati";
  src: url("font/mangati.ttf");
}

@font-face {
		font-family: "komika";
	  src: url("font/KOMTITK_.ttf");

}
